
/*WENN MINDESTENS 2000px ERREICHT SIND, BEHALTE FONT-SIZE 20PX*/
@media only screen and (min-width: 2000px) {
  .content-wrapper .content .content-text p {
    font-size: 20px;
  }

  .add-to-cart {
    line-height: 28px;
  }
}

@media only screen and (max-width: 1020px) {
  .medium-circle {
   display: none;
  }
  .small-circle {
    display: block;
    opacity: 0.2;
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 800px) {
  .medium-circle {
   display: none;
  }
  .small-circle {
    display: none;
  }
}


@media only screen and (max-width: 700px) {
  header {
    justify-content: space-between;
    padding: 30px;
  }
}

@media only screen and (max-width: 580px) {
  header img {
    width: 100px;
  }
}
